<div class="widget-wrap">
    <div class="widget-download">
<!--
<div class="btn-group">
<a href="#">
  <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cloud-download"></i> Download</button>
</a>
</div>
-->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 <i class="fa fa-question-circle"></i> Learn More <span class="caret"></span>

  </button>
  <ul class="dropdown-menu">
    <li><a href="https://wiki.bioarchlinux.org/index.php?title=Server">Package Guide</a></li>
    <li><a href="https://wiki.bioarchlinux.org/index.php?title=Sponsorship">Sponsorship</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="https://github.com/BioArchLinux/Packages/discussions">Discussion</a></li>
  </ul>
</div>
</div>
</div>

