	    <div class="navbar-header">
      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      		  <span class="sr-only">Toggle navigation</span>
      		  <span class="icon-bar"></span>
      		  <span class="icon-bar"></span>
      		  <span class="icon-bar"></span>
      		</button>
		    <h1>
			    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
				    <span class = "site-bioarchlinux"><img src="apple-touch-icon.png" height="50"  style="float:left; margin: 1px;"/>
				    <!--
				    <span class="icon-archlinux"><img src="apple-touch-icon.png" height="50"  style="float:left; margin: 1px;"/></span>
					-->
				    <!--<span class="icon-archlinuxjp-simple"></span>-->
				    <!--<span class="site-title">{{ .Site.Title }}</span>-->
				    <span class="site-title-arch">BioArchLinux</span>
				    <!--<span class="site-title-linux">BioArchLinux</span>-->
					</span>
			    </a>
		    </h1>
	    </div>
